---
title: Cheb.ru for Android  — brandymint — we build web, mobile and backend systems
layout: page
body_class: pages rubyulsk
---


.row.content-columns
  %section.col-md-8.col-md-offset-2
    = link_to 'https://play.google.com/store/apps/details?id=ru.brandymint.chebru', :target => '_blank' do
      = image_tag(image_path('pages/chebru_slide_770px.jpg'))
.row
  .col-md-6.col-md-offset-2
    %h1.content-column-header
      = 'Чеб.ру для Android'.html_safe
  .col-md-2
    %br
    = link_to 'https://play.google.com/store/apps/details?id=ru.brandymint.chebru', :target => '_blank' do
      = image_tag('http://developer.android.com/images/brand/en_app_rgb_wo_45.png') + content_tag(:small,'<br/>скачать приложение'.html_safe)
.row
  .col-md-8.col-md-offset-2
    %br
    %p
      = link_to 'Cheb.ru', 'http://www.cheb.ru/', target: :blank
      &mdash; крупнейший сайт г. Чебоксары c ежедневной аудиторией в десятки тысяч человек.
      %br
      С ростом числа смартфонов возникла необходимость сделать онлайн-справочник удобным для использования на мобильных устройствах.
    %hr
    %p
      %strong= 'В текущей версии &laquo;Чеб.ру&raquo;'.html_safe
    %ul
      %li Справочник фирм с рубрикацией по отраслям
      %li Улицы и дома с рубрикацией по районам
      %li Справочник работает без доступа в интернет
      %li Актуально обновляемая информация
      %li Поддержка Android-устройств, начиная с версии 2.1
      %li Уникальная карта Чебоксар и Новочебоксарска
    %hr
    = link_to 'https://play.google.com/store/apps/details?id=ru.brandymint.chebru', :target => '_blank' do
      = image_tag(image_path('pages/chebru2_slide_770px.jpg'))

