---
title: RubyUlsk — brandymint — we build web, mobile and backend systems
layout: page
body_class: pages rubyulsk
---


.row.content-columns
  %section.content-column.rubyulsk
    .page-header
      %h1
        RubyUlsk August 2012
        = link_to 'http://www.facebook.com/groups/193611444028309/', target: :blank, class: 'icon-size-16 btn btn-default' do
          = ficon 'facebook'
          facebook page

    -#= link_to 'Презенташки с докладов', 'https://www.dropbox.com/sh/341l42flghd6ys6/oQr7bEPsG5'
    = link_to 'https://www.dropbox.com/sh/341l42flghd6ys6/oQr7bEPsG5', target: :blank, class: 'btn btn-default btn-lg' do
      Презентации с докладов
      = ficon 'download'

    %hr
    -# = videojs_rails source: "http://brandymint.ru/system/rubyulsk2012-07/bitrix_on_rails.mp4", width: "400px"
    = partial 'pages/rubyulsk_videos'
