---
title: brandymint. We build web, mobile, backend for brands, businesses and startups
body_class: index
---
.container

  .top-navbar
    .logo
      = link_to 'brandy<strong>mint</strong>', '/', title: 'brandymint mainpage'
    .button
      <button type="button"class="btn" data-toggle="collapse" data-target=".menu-collapse"></button>
  .top-menu 
    %ul.menu-collapse.inline.row-fluid
      %li.span2
        = link_to 'menu1', '/', title: 'menu1'
      %li.span2
        = link_to 'menu2', '/', title: 'menu2'
      %li.span2
        = link_to 'big unfaithful link text', '/', title: 'menu3'
      %li.span2
        = link_to 'no moquetur', '/', title: 'menu4'
      %li.span2
        = link_to 'menu5', '/', title: 'menu5'
      %li.span2
        = link_to 'liber', '/', title: 'menu6'

  .wellcome
    .big We build <strong>web, mobile, backend</strong>
    .small for brands, businesses and startups

  .browse_projects
    <button class="btn btn-large" type="button"><strong>BROWSE PROJECTS &nbsp;&nbsp;&nbsp; ></strong></button>

