---
title: brandymint. We build web, mobile, backend for brands, businesses and startups
body_class: index
---

%article
  = partial 'index_page_container'
  = partial 'tech_logos'

-#.container.marketing
  .row
    - [:one, :two, :three].each do |title|
      .col-sm-4
        %img.img-circle{alt: "Generic placeholder image", src: "http://lorempixel.com/140/140/abstract", }
        %h2= title
        %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        %p
          %a.btn.btn-default{href: "#"} View details »

%a{name: 'projects'}

.projects-header-image
  .projects-header-container
    %h1.projects-header
      Our work

- projects = [:convead, :clickavia, :investcafe]
- projects.each_with_index do |p,i|
  .container
    = partial "projects/#{p}.haml"
  - unless i == (projects.count - 1)
    %hr

