---
title: brandymint — we build web, mobile and backend systems
body_class: index
---

%article
  = partial 'welcome/index_page_container'
  = partial 'welcome/tech_logos'

-#.container.marketing
  .row
    - [:one, :two, :three].each do |title|
      .col-sm-4
        %img.img-circle{alt: "Generic placeholder image", src: "http://lorempixel.com/140/140/abstract", }
        %h2= title
        %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        %p
          %a.btn.btn-default{href: "#"} View details »

%a{name: 'projects'}

.projects-header-image
  .projects-header-container
    %h1.projects-header
      Our work

-# projects = [:convead, :clickavia, :investcafe, :swapurban, :hrexpert, :chebru, :anna]
- projects = data.projects
- projects.each_with_index do |p,i|
  .container
    -#= partial "projects/#{p}.haml"
    .row.project-block
      .col-md-5
        - if p.image
          %img.project-image.img-responsive{alt: "Brandymint projects: #{p.slug}", src: "images/projects/#{p.image}" }
      .col-md-7
        %h2.project-title
          - if p.title
            = p.title
          - if p.logo
            %img{ src: "images/projects/#{p.logo}" }
        .project-features
          - features = p.features if p.features
          - features.each_pair do |k,v|
            %span= v
        %p.project-description
          = md p.description if p.description
        %h5.technology-title Technologies
        .row
          .col-md-7
            .project-technologies
              - technologies = p.technologies if p.technologies
              - technologies.each_pair do |k,v|
                %span= v
            %h5.technology-title Methodologies
            .project-technologies
              - methodologies = p.methodologies if p.methodologies
              - methodologies.each_pair do |k,v|
                %span= v
            %br
          .col-md-5
            - if p.url.present?
              %a.pull-right.btn.btn-default.btn-project-link{href: p.url, target: :blank}
                = p.url
                &rarr;
            .clearfix
            - if p.appstore.present?
              %a.pull-right{href: p.appstore, target: :blank}
                = image_tag('badge_appstore-lrg.gif')
            .clearfix
            - if p.google_play.present?
              %a.pull-right{href: p.google_play, target: :blank}
                = image_tag('google_play.png')
            .clearfix


  - unless i == (projects.count - 1)
    %hr

= partial 'welcome/team'
