---
title: brandymint — we build web, mobile and backend systems
body_class: index
---

%article
  = partial 'welcome/index_page_container'
  = partial 'welcome/tech_logos'

-#.container.marketing
  .row
    - [:one, :two, :three].each do |title|
      .col-sm-4
        %img.img-circle{alt: "Generic placeholder image", src: "http://lorempixel.com/140/140/abstract", }
        %h2= title
        %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        %p
          %a.btn.btn-default{href: "#"} View details »

%a{name: 'projects'}

.projects-header-image
  .projects-header-container
    %h1.projects-header
      Our work

-# projects = [:convead, :clickavia, :investcafe, :swapurban, :hrexpert, :chebru, :anna]
- projects = data.projects
- projects.each_with_index do |p,i|
  .container
    -#= partial "projects/#{p}.haml"
    .row.project-block
      .col-md-5
        %img.project-image.img-responsive{alt: "Brandymint projects: #{p.slug}", src: "images/projects/#{p.slug}.jpg" }
      .col-md-7
        %h2.project-title
          = p.title
        .project-features
          - features = p.features
          - features.each_pair do |k,v|
            %span= v
        %p.project-description
          -# using markdown:
          = md p.description
        %h5.technology-title Technologies
        .project-technologies
          - technologies = p.technologies
          - technologies.each_pair do |k,v|
            %span= v
        %h5.technology-title Methodologies
        .project-technologies
          - methodologies = p.methodologies
          - methodologies.each_pair do |k,v|
            %span= v
        %br

      %a.pull-right.btn.btn-default.btn-project-link{href: 'http://convead.com/', target: :blank}
        = p.url
        &rarr;
      .clearfix



  - unless i == (projects.count - 1)
    %hr

= partial 'welcome/team'
